#root {
  background-color: lightgrey;
  height: 100%;
  text-align: center;
}

.myBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 30%;
  padding: 50px;
  margin: auto;
  background-color: white
}

.header {
  text-align: center;
  width: 100%;
  font-size: 60px;
  margin-bottom: 30px;
  background-color: #345678;
  color: white;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-weight: bolder;
}

.standardBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
  background-color: white;
  text-align: center;
}

#ledBox {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

#servoBox {
  display: inline-block;
  vertical-align: middle;
  width: 63.4%;
}

input[type='radio'] {
  margin: 10px;
}

input[type='range'] {
  margin: 0 4px;
}

.ledBlinkInput {
  margin: 0 5px;
}

#ledImage {
  display: inline-block;
  height: 364px;
}

.servoInnerBlock {
  font-weight: bolder;
  text-align: center;
  width: 24%;
  display: inline-block;
  padding: 20px;
  margin: 0 10%;
}

#servoImage {
  width: 256px;
}

span {
  text-shadow: 2px 2px 4px grey;
  color: grey;
}

span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#cameraBox {
  display: inline-block;
  width: 96.6%;
}

#gpsBox {
  display: inline-block;
  width: 96.6%;
}

#compassBox {
  display: inline-block;
  position: relative;
  width: 96.6%;
  margin: 30px auto;
}

.ledInnerBlock {
  vertical-align: middle;
  display: inline-block;
}

#gpsFrame {
  height: 500px; 
  width: 700px;
  border: 0;
  margin-bottom: 30px;
}

#cameraFrame {
  height: 500px; 
  width: 700px;
  border: 0;
  transform: rotate(180deg);
  margin-bottom: 30px;
}

#compassScaleImage {
  z-index: 1;
  width: 400px;
  margin-bottom: 30px;
}

#compassHandImage {
  z-index: 2;
  position: absolute;
  top: 57.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  width: 80px;
}

#loginContainer {
  padding: 11%;
}